
<main class="counter-dashboard">

  <app-counter-header
    [timeData]="timeData"
  ></app-counter-header>
  
  <app-counter-controls
    [timerMotionState]="timerMotionState"
    (onMotionToggle)="toggleTimerMotionState()"
    (onAddToList)="storeCurrentTime()"
    (onReset)="resetEntireState()"
  ></app-counter-controls>

  <app-counter-records
    [timeList]="timeList"
    (onRemoveFromList)="removeFromList( $event )"
  ></app-counter-records>
  
</main>