<ul class="norm-ul timeRecords">

    <li 
        *ngFor="let item of timeList"
        class="l-align-y timeRecords-item"
    >
        <app-time-display 
        [timeData]="item"
        ></app-time-display>
        
        <div 
        class="timeRecords-removeItem-hold l-align-end l-cell-spread-x"
        >
        <button 
            (click)="removeFromList( item )"
            class="norm-btn timeRecords-removeItem"
        >
            Remove
        </button>
        </div>
    </li>
</ul>
