<time class="l-center timer">
  
  <span class="timer-digit" *ngFor="let digit of digitsSplitter( timeData.hours )">
    <span>{{digit}}</span>
  </span>
  
  <span [style.color]="timeData._blink ? 'transparent': ''">:</span>
  
  <span class="timer-digit" *ngFor="let digit of digitsSplitter( timeData.minutes )"> 
    <span>{{digit}}</span>
  </span>
  
  <span [style.color]="timeData._blink ? 'transparent': ''">:</span>

  <span class="timer-digit" *ngFor="let digit of digitsSplitter( timeData.seconds )">
    <span>{{digit}}</span>
  </span>
  
</time>
