$body-bg: #333333;
$time-display-c-active: #81D632;
$time-display-c-inactive: #314621;
$time-display-bg: #252525;
$time-display-border: #1E1E1E;

$controls-bg:  #fff;
$controls-border: #D7D7D7;
$controls-c: #333333;

$records-list-c-active: #FDFDFD;
$records-list-c-inactive: #484848;
$records-list-border: #686868;

$remove-btn-bg: #FD0100;