
@font-face {
    font-family: 'Digital-7';
    src: url('./app/shared/assets/fonts/Digital-7.eot') format('embedded-opentype'),
        url('./app/shared/assets/fonts/Digital-7.woff') format('woff'),
        url('./app/shared/assets/fonts/Digital-7.ttf')  format('truetype'),
        url('./app/shared/assets/fonts/Digital-7.svg#Digital-7') format('svg');
    font-weight: normal;
    font-style: normal;
}
