.norm-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    font: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: inherit;
    background: transparent;
}
.norm-ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
