@charset "utf-8";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css" ;
@import './fonts.scss';
@import './functions.scss';
@import './colors.scss';
@import './norm.scss';
$fs-main: 16px;
$border-radius: 10;
$timerecord-fs: 24;

@function dim( $fs ){
    @return em( $fs-main, $fs );
}
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: $body-bg;
    color: #fff;
    font-size: $fs-main;
    margin: 0;
}
.l-center, %l-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-flex {
    display: flex;
}
.l-cell-spread-x {
    width: 0;
    flex-grow: 1;
}
.l-align-end {
    display: flex;
    justify-content: flex-end;
}
.l-align-y {
    display: flex;
    align-items: center;
}

.counter-dashboard {
    width: dim( 340 );
    margin: dim(10) auto dim(30);
    max-width: 100%;
}
.time-display {
    @extend %l-center;
    $fs: 48;
    background-color: $time-display-bg;
    color: $time-display-c-active;
    font-size: dim($fs);
    height: em($fs,77);
    padding: em($fs,10);
    border: em($fs,6) solid $time-display-border;
    border-radius: em($fs,$border-radius) em($fs,$border-radius) 0 0;
    border-bottom-color: transparent;
    .timer-digit:after {
        color: $time-display-c-inactive;
    }
}
.timer {
    font-family: Digital-7;
}
.timer-digit {
    &:after {
        content: "8";
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
    position: relative;
    width: .5em;
    direction: rtl;
    text-align: right;
    span {
        position: relative;
        z-index: 1;
    }
}

.controls {
    background-color: $controls-bg;
    color: $controls-c;
    border-radius: 0 0 dim($border-radius) dim($border-radius);
    margin-bottom: dim(10);
}
.controls-btn {
    height: dim(35);
    width: dim(50);
    border-right: 1px solid $records-list-border;
    &:last-child {
        border-right: none;
    }
    &:hover {
        color: lighten( $controls-c, 20);
    }
}


.timeRecords {
    .timer-digit {
        font-size: dim($timerecord-fs);
    }
    .timer-digit:after {
        color: $records-list-c-inactive;
    }
}
.timeRecords-item {
    padding: dim(15) 0 dim(13);
    border-bottom: 1px solid $records-list-border;
    cursor: pointer;
    &:hover {
        .timeRecords-removeItem  {
            opacity: 1;
            width: auto;
        }
    }
}

.timeRecords-removeItem {
    width: 0;
    padding: dim(8) dim(7);
    background-color: $remove-btn-bg;
    color: #ffffff;
    opacity: 0;
    text-shadow: 0 2px 2px rgba(#000,0.2);
    overflow: hidden;
    &:focus  {
        opacity: 1;
        width: auto;
    }
    &:hover {
        background-color: lighten( $remove-btn-bg, 10 );
    }
}

// tablet and lower scree sizes don't have reilable hover effect
@media (max-width: 1025px ){
    .timeRecords-removeItem{
        opacity: 1;
        width: auto;    
        font-size: dim(14);
    }
}
@media (max-width: 600px ){
    body {
        font-size: 4vw;
    }
}