<div class="l-flex controls">

    <button
      (click)="toggleTimerMotionState()"
      class="norm-btn l-cell-spread-x controls-btn"
    >
      <ng-container *ngIf="timerMotionState">
        <i class="fas fa-pause"></i>
        Pause
      </ng-container>
      <ng-container *ngIf="! timerMotionState">
        <i class="fas fa-play"></i>
        Play
      </ng-container>
    </button>
  
    <button
      (click)="storeCurrentTime()"
      class="norm-btn controls-btn"
      aria-label="add to list"
    >
      <i class="far fa-clock"></i>
    </button>
  
    <button
      (click)="resetEntireState()"
      class="norm-btn controls-btn"
      aria-label="reset"
    >
      <i class="far fa-trash-alt"></i>
    </button>
  
  </div>
  